/* (A) WRAPPER */
body {
    font-family: arial, sans-serif;
    display: flex;
    margin: 0 auto;
  }
  #main-menu { width: 70%; }
  #total-cart { width: 30%; }
  
  /* header */
  #header{
    margin: 20px 0px 20px 30px;
    display: flex;
  }
    /* home logo */
    #header img{
      height: 50px;
      width: 50px;
    }
    /* back to home */
    #header div{
      text-align: end;
      display: flex;
    }
    #header strong{
      color: #3d6091;
      font-size: 30px;
      margin-left: 40px;
      align-self: center;
    }

  /* filter */
  #filter{
    width: auto;
    position: relative;
    background-color: rgb(247, 245, 245);
  }
    /* arrow left and right */
    #filter .arrow_img{
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
    /* contain all filter category */
    #category_container{
      overflow: hidden;
      gap: 20px;
      width: auto;
      display: flex;
      margin: 0px 130px;
      padding: 20px 0px;
    }
    .btn{
      border-radius: 20px;
      background-color: white;  
      border: none;
    }
    .btn.active{
      background-color: rgb(37, 37, 68);
      color: white;
    }
    /* category */
    .category{
      border-radius: 20px;
      width: 129px;           /* this width just fit 5 items, dont fix this*/
      min-width: 129px;
      height: 170px;
      background-color: white;
      position: relative;
      text-align: center;
    }
    .category.active{
      background-color: rgb(37, 37, 68);
      color: white;
    }
    .category img{
      padding-top: 10px;
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
    .category strong{
      padding-top: 15px;
      font-size: 15px;
    }
    
  /* line seperator */
  h1 {
    margin: 0px;
    padding: 30px 15px;
    background-color: rgb(247, 245, 245);
    overflow: hidden;
    text-align: center;
  }
  
  h1:before,
  h1:after {
    background-color: #000;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  h1:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  h1:after {
    left: 0.5em;
    margin-right: -50%;
  }


  /* (B) PRODUCTS LIST */
  #poslist {
    display: grid;
    background-color: rgb(247, 245, 245);
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  /* wraper for menu-items */
  .pwrap {
    max-width: 250px;
    margin: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;
    border-style: double;
    box-shadow: 0px 0px 5px 0px rgb(180, 180, 180);
    height: 450px;
    display: none;
  }
  .show{display: block;}
  /* img of product */
  .pimg {border-radius: 20px; width: 100%; height: 70%; border-bottom: 2px solid lightgray;}
  /* item-detail contain name and price of product */
  .item-detail{position: relative; height: 20%; padding: 10px; text-align: left;}
  .pname { font-weight: 900; }
    .pname span{color: red }
  .pprice{ width: 100%;}
    .pprice span{position: absolute; font-weight:900; color: red; bottom: 0; }
    .pprice img{position: absolute; right: 10px; bottom: 0; width: 30px; height: 30px; border-radius: 10px;}
  /* (C) CART */
  #total-cart {
    z-index: 1;
    padding: 20px 10px;
    background: #fff;
    box-shadow: -5px 0px 3px 0px rgb(196, 196, 196);
  }
  /* Dine in section */
  #dine-in{
    display: flex;
    position: relative;
    align-items: center;
  }
    #dine-in > img{
      width: 50px;
      height: 50px;
    }
    #dine-in > h2{
      color: red;
    }
    #dine-in  > button{
      position: absolute;
      right: 0;
      background-color: rgb(147, 222, 247);
      font-size: 20px;
      font-weight: 700;
      border: none;
      border-radius: 20px;
      padding: 5px 15px;
    }
    
  /* item section */
  #poscart{position: relative;}
  .citem > * { box-sizing: border-box; }
  .citem{ width: 100%; }
  .citem { padding: 10px; display: flex; }
  .cquan{display: flex; position: relative;}
  .cimg{width: 80px; height: 100px;}
  .cheader{width: calc(100% - 80px); height: 100%;}
  .cname{ display: block; margin-bottom: 20px; height: 38px;}
  .cdel { width: 40px; display: inline;}
  .cqty { 
    width: 30%; 
    max-height: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #ctot{position: relative; margin-top: 20px;}
  .cprice, #ctotal{position: absolute; right: 10px; bottom: 10px; color: red; font-size: 20px; font-weight: 700;}
  #ctotal {top : -10px; right: 0; font-size: 25px;}
  .TotalText{font-weight: 700; font-size: 20px;}
  .cdel, #ccheckout { padding: 10px; height: 42px;}
  .cdel, #ccheckout {
    background: #9a2121;
    border: 1px solid #9a2121;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
  }
  #ccheckout { margin: 5px; width: 100%; border-radius: 20px; margin-top: 70px;}
  
  /* (D) RECEIPT */
  #posreceipt { display: none; }
  